{% extends 'AdminBundle::layout.html.twig' %}

{% block title 'Панель администратора. Объявления' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function Remove(id)
        {
            if (confirm("Удалить объявление?"))
            {
                $("#object_form").attr("action", "{{ path('_advEdit', {'action': 'remove'}) }}");
                $("#idObject").val(id);
                document.forms['object_form'].submit();
            }
        }
        function Edit(id)
        {
            $("#object_form").attr("action", "{{ path('_advEdit', {'action': 'edit'}) }}");
            $("#idObject").val(id);
            document.forms['object_form'].submit();
        }
    </script>
{% endblock %}

{% block content %}
    <h1 class="page-header">Каталог объявлений</h1>
    <form action="{{ path('_advEdit', {action: 'remove'}) }}" method="POST" id="object_form">
        <input type="hidden" id="idObject" name="idObject" value="0"/>
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th><a href="{{ path('_advEdit', {action: 'add'}) }}"><i class="fa fa-fw fa-plus"></i></a></th>
                    <th>Тип объекта</th>
                    <th>Адрес</th>
                    <th>Стоимость</th>
                    <th>Телефон</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in objects %}
                    <tr>
                        <td width="8%">
                            
                            <a href="#" onclick="Edit({{ obj.id }});"><i class="fa fa-fw fa-edit"></i></a> 
                            <a href="#" onclick="Remove({{ obj.id }});"><i class="fa fa-fw fa-remove"></i></a>
                        </td>
                        <td width="100px">{{ obj.stype }}</td>
                        <td width="250px">{{ obj.address }}</td>
                        <td width="100px">{{ obj.price }} руб.</td>
                        <td width="100px">{{ obj.phone }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
{% endblock %}